body {
    margin: 0px;
    border: green 3px groove;
}

.player {
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 100%;
    border-radius: 50px;
}

.player-controls {
    display: flex;
    justify-content: left;
    background-color: black;
    height: 180px;
    width: 204px;
}

.player-info {
    display: flex;
    justify-content: right;
    background-color: #141414;
    flex-direction: row-reverse;
    height: 180px;
    width: 1239px;
    position: relative;
}

.player-info-logo {
    display: flex;
    flex-direction: row;
    align-self: right;
    align-items: center;
    justify-content: left;
    padding-left: 150px;
    padding-right: 70px;
}

.player-info-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-left: 50px;
    margin-right: 150px;
}

.player-info-band {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #D3D3D3;
}

.player-info-music {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    color: #D3D3D3;
}

.player-info-bar {
    position: absolute;
    background: rgb(82, 133, 82);
    height: 1%;
    width: 90%;
    /* width máximo = 90% */
    left: 44px;
    bottom: 41px;
}

.info-logo-i {
    margin-left: -8px;
    margin-top: 8px;
}

.player-bar-point {
    position: absolute;
    top: 0;
}

.player-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 80px;
}

.controls-container-backward {
    color: rgba(211, 211, 211, 0.65);
    margin-left: 40px;
    width: 25px;
    height: 25px;
}

.controls-container-backward:hover {
    padding-bottom: 10px;
    border-bottom: green 2px solid;
}

.controls-container-backward:active {
    padding-bottom: 10px;
    border-bottom: rgb(28, 0, 128) 2px solid;
}

.controls-container-play {
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.controls-container-play:hover {
    padding-bottom: 10px;
    border-bottom: green 2px solid;
}

.controls-container-play:active {
    padding-bottom: 10px;
    border-bottom: rgb(28, 0, 128) 2px solid;
}

.controls-container-foward {
    color: rgba(211, 211, 211, 0.65);
    margin-right: 40px;
    width: 25px;
    height: 25px;
}

.controls-container-foward:hover {
    padding-bottom: 10px;
    border-bottom: green 2px solid;
}

.controls-container-foward:active {
    padding-bottom: 10px;
    border-bottom: rgb(28, 0, 128) 2px solid;
}


/* Responsibidade */

@media (max-width: 950px) {
    .player-info-band {
        font-size: 14px;
        line-height: 14px;
    }
    .player-info-music {
        font-size: 16px;
        line-height: 14px;
    }
    .player-info-logo {
        position: absolute;
        margin-top: 0px;
        padding-right: 0px;
        margin-right: 50px;
        right: 10px;
    }
    .player-info {
        height: 100px;
    }
    .player-controls {
        height: 100px;
    }
    .player {
        height: 100px;
    }
    .controls-container-backward {
        margin-left: 30px;
        width: 15px;
        height: 15px;
    }
    .controls-container-play {
        margin-left: 20px;
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }
    .controls-container-foward {
        margin-right: 25px;
        width: 15px;
        height: 15px;
    }
    .player-controls {
        width: 204px;
    }
    .player-controls-container {
        padding-top: 45px;
    }
    .player-info-titles {
        margin-bottom: 50px;
    }
}